<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="syscache2" type="NHibernate.Caches.SysCache3.SysCacheSection, NHibernate.Caches.SysCache3" />
  </configSections>
  
  <syscache2>
    <cacheRegion name="DefaultCache" relativeExpiration="3600">
      <dependencies>
        <commands>
          <add name="test1" command="select Id from dbo.Test" />
        </commands>
        <files>
          <add name="test1" path="c:/tmp/test.txt" />
          <add name="test2" path="Test.txt"/>
        </files>
      </dependencies>
    </cacheRegion>
  </syscache2>
  
</configuration>